body {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.countdown-timer, .start-btn-div, .calculating-result-div, .resetting-div, .vote-ended-div{
    margin-top: 3rem;
    background-color: #419D78;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: -3rem;
    padding: .5rem;
}

.vote-ended-div{
    background-color: black;
}

.notice{
    position: absolute;
    top: 6.5rem;
    left: 3rem;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.calculating-result-div{
    background-color: red;
}

.start-btn-div span{
    border: 2px solid white;
    cursor: pointer;
}

.resetting-div{
    background-color: gold;
}

.resetting-div span{
    border: 2px solid white;
    padding: 1rem;
}

.resetting-div span:hover{
    cursor:pointer;
    border: 2px solid gold;
    background-color: white;
    color: gold;
}

.start-btn-div span:hover{
    border: 2px solid #419D78;
    background-color: white;
    cursor: pointer;
    color: #419D78;
}

.candidates-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin: 6rem auto 0;
}

.candidates-list img {
    width: 39rem;
    height: 29rem;
}


.candidates-list section {
    position: relative;
}

button {
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border-style: none;
    position: absolute;
    left: 3rem;
    top: 15rem;
    box-shadow: darkgray;
}

.result {
    z-index: 100;
    position: absolute;
    top:6rem;
    left: 26rem;
    padding: .5rem 15rem;
    background: mediumpurple;
    color: white;
    border-radius: .25rem;
}

.result:hover{
    cursor: pointer;
    background: purple;
}

.start {
    padding: .5rem;
    left: 15rem;
    top: 17.5rem;
}

section button span {
    color: white;
    font-size: 18px;
}

section:nth-child(1) button {
    background: red;
    border: 2px solid white;
}

section:nth-child(1) button:hover {
    background: red;
}

section:nth-child(2) button {
    background: dodgerblue;
    border: 2px solid white;
}

section:nth-child(2) button:hover {
    background: dodgerblue;
}

button:hover {
    cursor: pointer;
}

button:hover span {
    display: none;
}

button:hover:before {
    content: "Vote";
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
